:root{
    /* -----------colors--------------- */
    --color-primary:#D10024;
    --color-dark:#1E1F29;
    --color-darker:#15161D;
    --color-light:#FBFBFC;
    --color-header:#2B2D42;
    --color-Gray: #aaa;
    --color-lightGray:#E4E7ED;
    --color-linkGray:#2B2D42;
    /* -----------padding--------------- */
    --padding-y: 50px 0;
    --padding-x: 0 60px;
    /* -----------margin--------------- */
    --margin: 50px;
    /* -----------fonts--------------- */
    --fontFamily: 'Poppins', sans-serif;
}
/* -----------fonts--------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: var(--fontFamily);
}

.ShopAddbtn{
    border: none;
    outline: none;
    width: 180px;
    background-color: var(--color-primary);
    padding: 8px 15px;
    border-radius: 20px;
    color: var(--color-light);
    font-weight: bold;
    transition: .4s ease;
}

.ShopAddbtn:hover{
    background-color: #ff2b4e;
}